<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Create - User Game</title>
    <link href="styles/styles.css" rel="stylesheet" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="bg-primary">
    <div id="layoutAuthentication">
      <div id="layoutAuthentication_content">
        <main>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                  <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">
                      Create User Game
                    </h3>
                  </div>
                  <div class="card-body">
                    <form method="POST" action="/createUG">
                      <div class="form-group">
                        <label class="small mb-1" for="email"
                          >Email</label
                        >
                        <input
                          class="form-control py-4"
                          id="email"
                          type="email"
                          aria-describedby="emailHelp"
                          placeholder="Enter email address"
                        />
                      </div>
                      <div class="form-group">
                        <label class="small mb-1" for="password"
                          >Password</label
                        >
                        <input
                          class="form-control py-4"
                          id="password"
                          type="password"
                          aria-describedby="emailHelp"
                          placeholder="Enter password"
                        />
                      </div>
                      <div class="form-group mt-4 mb-0">
                        <a
                          class="btn btn-primary btn-block"
                          type="submit"
                          >Create Account</a
                        >
                        <a class="btn btn-danger btn-block" href="dashboardUG">Back</a>
                      </div>
                    </form>
                  </div>
                  <div class="card-footer text-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid">
            <div
              class="d-flex align-items-center justify-content-between small"
            >
              <div class="text-muted">Copyright &copy; Your Website 2021</div>
              <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="#"></script>
  </body>
</html>
