<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <!-- My CSS -->
    <link rel="stylesheet" href="styles/games.css" />

    <title>Games</title>
  </head>
  <body>
    <!-- Bagian Atas -->
    <div class="container-fluid">
      <div class="row mt-4 ms-3">
        <div class="col-auto align-self-center">
          <a href="/">
            <img src="images/back.png" class="back-button" alt="back button" />
          </a>
        </div>
        <div class="col-auto logo-game">
          <img src="images/logo1.png" class="logo-game" alt="logo game" />
        </div>
        <div class="col-auto align-self-center top-title">
          ROCK PAPER SCISSORS
        </div>
      </div>
    </div>

    <!-- Bagian Utama -->
    <div class="container">
      <div class="d-flex flex-row justify-content-center mt-5">
        <!-- Bagian Human -->
        <div class="col-md-5 text-center">
          <div class="row text-center">
            <span class="player-name">PLAYER 1</span>
          </div>
          <div class="row">
            <div class="col">
              <img
                src="images/batu.png"
                class="player"
                id="rock"
                class=""
                style="width: 30%"
                alt=""
              />
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <img
                src="images/kertas.png"
                class="player"
                id="paper"
                style="width: 30%"
                alt=""
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <img
                src="images/gunting.png"
                class="player"
                id="scissor"
                style="width: 30%"
                alt=""
              />
            </div>
          </div>
        </div>

        <!-- Bagian Tengah -->
        <div
          class="text-center align-self-center operator-default"
          id="operator"
        >
          <span>VS</span>
        </div>

        <!-- Bagian CPU -->
        <div class="col-md-5 text-center">
          <div class="row text-center">
            <span class="player-name">COM</span>
          </div>
          <div class="row">
            <div class="col">
              <img
                src="images/batu.png"
                class="cpu"
                id="cpu-rock"
                style="width: 30%"
                alt=""
              />
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <img
                src="images/kertas.png"
                class="cpu"
                id="cpu-paper"
                style="width: 30%"
                alt=""
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <img
                src="images/gunting.png"
                class="cpu"
                id="cpu-scissor"
                style="width: 30%"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Bagian Refresh -->
      <div class="row justify-content-center">
        <div class="col-md-1 align-self-center">
          <img
            src="images/refresh.png"
            id="refresh"
            style="width: 75%"
            alt=""
          />
        </div>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
  </body>
  <script type="text/javascript" src="js/games.js"></script>
</html>
