<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
   
    <!-- My CSS -->
    <link rel="stylesheet" href="styles/index.css">

    <title>Challenge</title>
  </head>
  <body>
    <!-- Main -->
    <section id="main" class="main">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" >
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-nav" >
              <a class="nav-item nav-link " href="#">Home</a>
              <a class="nav-item nav-link " href="#">Work</a>
              <a class="nav-item nav-link " href="#">Contact</a>
              <a class="nav-item nav-link " href="#" >About Me</a>
            </div>
            <div class="navbar-nav ml-auto" >
              <a class="nav-item nav-link " href="#" >Sign Up</a>
              <a class="nav-item nav-link " href="login" >Login</a>
            </div>
          </div>
        </div>
      </nav>
      <!-- akhir Navbar -->
      
      <!-- Jumbotron -->
      <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container text-center">
          <h1 class="display-4" >Play Traditional Game</h1>
          <h3 class="display-6" >Experience new traditional game play</h3>
          <a href="games">
            <button type="button" class="btn btn-warning px-5 py-2">TRIAL</button>
          </a>
        </div>
      </div>
      <!-- akhir Jumbotron -->

      <div class="container-fluid">
          <div class="row">
            <div class="col text-center text-white">
                THE STORY
                <br>
                <img src="../images/scroll down.png" alt="">
            </div>          
        </div>
      </div>
    </section>
<!-- akhir Main -->

<!-- About -->
    <section id="about" class="about">
      <div class="container">
        <div class="row justify-content-center">
            <div class="col text-white">
                <p>What’s so special?</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-5 text-white">
                <p class="fs-1">THE GAMES</p>
            </div>
            <div class="col-5">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../images/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
            </div>
        </div>
      </div>
    </section>
    <!-- akhir About -->

    <!-- Features -->
    <section id="features" class="features">
        <div class="container fluid">
            <div class="row">
                <div class="col-7"></div>
                <div class="col-4">
                    <div class="row mt-5">
                        <div class="col text-white" style="font-family: Arial;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 24px;">
                            What’s so special?
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-white" style="font-family: Arial;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 56px;">
                            FEATURES
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col text-warning" style="font-family: Arial;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 24px;">
                            TRADTIONAL GAMES
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-white" style="font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;">
                            If you miss your childhood, we provide many traditional games here
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col text-warning" style="font-family: Arial;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 24px;">
                            GAME SUIT
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col text-warning" style="font-family: Arial;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 24px;">
                            TBD
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- akhir Features -->

    <!-- Requirements -->
    <section id="requirements" class="requirements">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-white">
                    <h1>SYSTEM</h1>
                </div>
                <div class="col-lg-4 text-white">
                    Can My Computer Run this game?
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-4 text-white">
                    <h1>REQUIREMENTS</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <table class="table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                   <p class="text-warning">
                                    OS:
                                    </p>
                                   <p class="text-white">
                                    Windows 7 64-bit sr-only
                                    (No OSX support at this time)
                                    </p>
                                </td>
                                <td>
                                    <p class="text-warning">
                                        PROCESSOR:
                                        </p>
                                       <p class="text-white">
                                        Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
                                    </p>
                                </td>
                          </tr>
                          <tr>
                            <td>
                                <p class="text-warning">
                                    mEMORY:
                                    </p>
                                   <p class="text-white">
                                    4 GB RAM                                
                                </p>
                            </td>
                            <td>
                                <p class="text-warning">
                                    storage:
                                    </p>
                                   <p class="text-white">
                                    8 GB available space                                
                                </p>
                            </td>
                          </tr>
                          <tr>
                            <td>
                                <p class="text-warning">
                                    GRAPHICS:
                                    </p>
                                   <p class="text-white">
                                    NVIDIA GeForce GTX 660 2GB or 
                                    AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                                </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </section>
    <!-- akhir Requirements -->

    <!-- Quotes -->
    <section id="quotes" class="quotes">
        <div class="container ">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-4 text-white ms-5">
                    <h1>TOP SCORES</h1>
                    <p>
                        This top score from various games provided on this platform
                    </p>
                    <button class="btn btn-warning px-5">see more</button>
                </div>
                <div class="col-lg-4">
                    <div class="row mt-n1">
                        <div class="col-lg info-panel">
                          <img src="images/image 8.jpg" class="position-absolute rounded-circle float-left" alt="">
                          <img src="images/Ellipse.png" class="float-left" style="margin-left: 5px; margin-top: 5px;" alt="">
                          <img src="images/twitter.svg" class="float-right" style="height: 18px; width: 18px;" alt="">
                          <h5>Evan Lahti</h5>
                          <h6>PC Gamer</h6>
                          </p>
                          <p>
                          “One of my gaming highlights of the year.”
                          </p>
                          <h6>October 18, 2018</h6>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-lg info-panel my-4">
                        <img src="images/image.jpg" class="position-absolute rounded-circle float-left" alt="">
                        <img src="images/Ellipse.png" class="float-left" style="margin-left: 5px; margin-top: 5px;" alt="">
                        <img src="images/twitter.svg" class="float-right" style="height: 18px; width: 18px;" alt="">
                        <h5>Jada Griffin</h5>
                        <h6>Nerdreactor</h6>
                        </p>
                        <p>
                          “The next big thing in the world of streaming and survival games.”
                        </p>
                        <h6>December 21, 2018</h6>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-lg info-panel ">
                      <img src="images/image (1).jpg" class="position-absolute rounded-circle float-left" alt="">
                      <img src="images/Ellipse.png" class="float-left" style="margin-left: 5px; margin-top: 5px;" alt="">
                      <img src="images/twitter.svg" class="float-right" style="height: 18px; width: 18px;" alt="">
                      <h5>Aaron Williams</h5>
                      <h6>Uproxx</h6>
                      </p>
                      <p>
                        “Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous”
                      </p>
                      <h6>December 24, 2018</h6>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- akhir Quotes -->
    
    <!-- Newsletter -->
    <section id="newsletter" class="newsletter">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-5 justify-content-center d-flex">
          <img class="batu" src="images/image.png" alt="" style="height: 500px;">
        </div>
        <div class="col-lg-5 align-items-center d-flex ">
          <div class="row">
            <div class="col">
              Want to stay in <br> touch?
              <h1>Newsletter subscribe</h1>
              <p style="font-size: 12px;">
                In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.
              </p>
              <div class="row mt-5">
                <div class="col-6">
                  <form class="form-floating">
                    <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" value="youremail@binar.com">
                  </form>
                  <div class="btn btn-warning">Subscribe now</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-1 footer-1">Main</div>
        <div class="col-1 footer-1">About</div>
        <div class="col-2 footer-1">Game features</div>
        <div class="col-3 footer-1">System requirements</div>
        <div class="col-1 footer-1 mx-5">Quotes</div>
        <div class="col-1 mx-n4"><img class="logo-footer-1" src="images/facebook.svg" alt=""></div>
        <div class="col-1 mx-n4"><img class="logo-footer-1" src="images/twitter.svg" alt=""></div>
        <div class="col-1 mx-n4"><img class="logo-footer-1" src="images/youtube.svg" alt=""></div>
        <div class="col-1 mx-n4"><img class="logo-footer-1" src="images/twitch.svg" alt=""></div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-11 border-bottom mt-4"></div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-5 footer-2">
          © 2018 Your Games, Inc. All Rights Reserved
        </div>
        <div class="col-lg-6 footer-3">
          Privacy Policy | Terms of Services | Code of Conduct 
        </div>
      </div>
    </div>
    
    </section>
    <!-- akhir Newsletter -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
  </body>
</html>