body {
    background-color: #9C835F;
    ;
}

.top-title {
    font-size: 150%;
    font-weight: bold;
    color: #F9B23D;
}

.logo-game{
    width: fit-content;
}

.back-button {
    width: fit-content;
}

.player-name {
    font-weight: bold;
    font-size: 200%;
    letter-spacing: 0.1em;
    text-align: center;
}

.operator-default {
    color: red;
    font-size: 500%;
    font-weight: bold;
    width: fit-content;
}

.selected {
    background: #C4C4C4;
    border-radius: 30px;
    width: fit-content;
    padding: 10px;
}

.player-win {
    background: #4C9654;
    border-radius: 10px;
    transform: rotate(-28.87deg);
    color: white;
    font-size: 50px;
    padding: 20px;
    width: fit-content;
    text-align: center;
}

.player-draw {
    background: #035B0C;
    border-radius: 10px;
    transform: rotate(-28.87deg);
    color: white;
    font-size: 50px;
    padding: 20px;
    width: fit-content;
    text-align: center;
}