/* Section Background */
section{
  height: 100vh;
}

.main {
  background-image: url(../images/main-bg.jpg);
  background-size: cover ;
}
.about {
  background-image: url(../images/bg\ image\ 2.jpg);
  background-size: cover ;
}
.features {
  background-image: url(../images/features.jpg);
  background-size: cover ;
}
.requirements {
  background-image: url(../images/requirements.jpg);
  background-size: cover ;   
}
.quotes {
  background-color:black;
  /* background-image: url(img/top-score-bg.png); */
  background-size: cover ;   
}
.newsletter {
  background-color: black;
  /* background-image: url(img/requirements.jpg); */
  background-size: cover ;   
}

/* Navbar */
.navbar {
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar-brand {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.nav-link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.jumbotron {
  margin-top: 50px;
  ;
}
.jumbotron .display-4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 72px;
}
.jumbotron .display-6 {
  color: white;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: normal;
  margin-top: 30px;
}
.jumbotron .btn {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 50px;
}
.quotes .btn {
  font-weight: bold;
}
.info-panel {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  padding-top: 15px;
}
.info-panel img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.info-panel h5 {
  color: #FFB548;
  ;
}
.info-panel h6{
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 10px;
}
.info-panel p {
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 25px;
color: #FFFFFF;
margin-top: 25px;
}

.newsletter {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #FFFFFF;
}
.newsletter .batu {
  opacity: 0.9;
}
.newsletter h1 {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 92px;
  letter-spacing: 3px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.newsletter p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.newsletter .footer-1 {
  font-size: 12px;
  text-transform: uppercase;
}
.newsletter .logo-footer-1 {
  width: 15px;
  height: 10px;
}
.newsletter .footer-2 {
  font-size: 14px;
  opacity: 0.5;
  margin-right: 30px;
}
.newsletter .footer-3 {
  font-size: 14px;
  text-align: end;
}
/* UTILITY */
.mt-n1{
}

